/**
*	CUSTOM DESIGNED BY GEUM-BIT
*/

@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    font-family: 'Nanum Gothic', sans-serif;
}     

html,
body{
	height:93%;
	background-color : #F6F6F6;
}
.index{
	heigth:100%;
}

.left{
	background-color:#EAEAEA;
	height:100%;
	border : 0px solid;
	
}
.right{
	background-color:white;
    height: expression( this.scrollHeight > 99 ? "100%" : "auto" );
    max-height: 100%;
    min-height: 100%;
    border: 0px solid #666;
    overflow-y: auto;     
}

.left > ul{
	list-style:none;
	margin-top:40px;
    padding-left:0px;
}

.left > ul > li{
	padding : 10px 0px 0px 0px;
	margin-bottom : 10px;
	
}
.left > ul > li:hover{
/* 	background-color : #BDBDBD; */
	cursor:pointer;
	border-bottom : 1px solid #A6A6A6;	
}
.left > ul > li > a{
	font-weight: bold;	
	font-size : 15px; 
	color : #7A7A7A;
}

.left > ul > li > a:hover{
	text-decoration : none;
}

.index{
	margin : 15px 30px 15px 30px;
	height:100%;
}
/*
*	top
*/

.top{
	background-color: #6799FF;
	height: 60px;
	border-radius: 10px 10px 0px 0px
}

.top-brand{
	margin-top : 10px;
}
.iteyes{		
 	color : white;
	font-family: 'Titillium Web', sans-serif;
	font-size : 30px;
	font-weight : bold;
}

.iteyes:hover{
	color:#A6A6A6;
	text-decoration : none;
	
}
.iteyes:link,
.iteyes:active,
.iteyes:visited{
	color : white;
	text-decoration : none;
}
.top-info{
	color : #5D5D5D;
	font-size : 13px;
	font-weight:bold;
	margin-top : 25px;
}

.logout{
	color : #747474;
	font-size : 13px;
	font-weight : bold;
	margin-top : 23px;
}


.list-table > tbody tr:hover{
	background-color : #D5D5D5;
	cursor:pointer;	
}

.pager > li > a{
	font-size : 13px;
	margin-left: 5px;
}

.list-text{
	margin-top : 20px;
	padding-left :32%;
}

.list-text input[type='text']{
	width : 250px;
	float : left;
	margin-right : 5px;
}
.list-text > button{
	font-size : 20px;
	width : 50px;
}

.list-text > .dropdown{
	float : left;
	margin-right : 10px;
	
}
.list-text > .dropdown > button{
	font-size : 13px;
	background-color : #4374D9;
}

.list-text > .dropdown > ul > li > a {
	font-size : 13px;
}


